.aboutImg {
    width: 600px;
}

.about_p {
    color: #959595;
}

.box {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background: #00ccff;
}


@media(max-width: 400px) {
    .aboutImg {
        width: 300px;
    }

    .box {
        width: 154px;
        height: 65px;
        margin: auto;
        margin-top: 50px;
    }

    .m {
        text-align: center;
        margin-top: 50px;
    }
}



@media(min-width: 400px) and (max-width: 600px) {
    .aboutImg {
        width: 350px;
    }

    .box {
        width: 154px;
        height: 65px;
        margin: auto;
        margin-top: 50px;
    }

    .m {
        text-align: center;
        margin-top: 50px;
    }
}


@media(min-width: 600px) and (max-width: 800px) {
    .aboutImg {
        width: 400px;
    }

    .box {
        width: 154px;
        height: 65px;
        margin: auto;
        margin-top: 50px;
    }

    .m {
        text-align: center;
        margin-top: 50px;
    }
}


@media(min-width: 800px) and (max-width: 1100px) {
    .aboutImg {
        width: 400px;
    }

    .box {
        width: 154px;
        height: 65px;
        margin: auto;
        margin-top: 50px;
    }

    .m {
        text-align: center;
        margin-top: 50px;
    }
}